*{
    box-sizing: border-box;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

body{
    color: #403D3D;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.container{
    min-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.header__top{
    background: rgba(196, 196, 196, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.logo{
    padding-left: 60px;
}

.menu__list{
    display: flex;
    justify-content: center;
    padding-right: 14px;
}

.menu__list-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 64px 46px 0 0;
    transition: all .5s;
}

.menu__list-link:hover{
    color: #D58071;
}

.header__container{
    padding: 0 60px;
}

.header__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    padding-top: 82px;
    margin-bottom: 20px;
}

.header__text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 794px;
    margin-bottom: 33px;
}

.header-content__btn{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: inline-block;
    border: 1px solid #E3E1E1;
    padding: 19px 40px;
    background: #D58071;
    border-radius: 8px;
}

.header-content__btn:hover{
    border: 2px solid #E3E1E1;
}

/* .arrow__down{
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto auto 20px auto;
} */


.container{
    padding: 0 15px;
    max-width: 1180px;
    margin: 0 auto;
}

.title{
    font-family: 'Montserrat', sans-serif;
    padding-top: 100px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.07em;
}

.container-content{
    line-height: 150%;
    text-align: justify;
    letter-spacing: 0.07em;
    margin-bottom: 90px;
}

.about__statistics{
    width: 1150px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background: #F3F2F2;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 40px 0;
    margin-bottom: 110px;
}

.about__statistics-item{
    margin: 0 0 62px;
}

.about__statistics-images{
    width: 60px;
    height: 55px;
    margin-bottom: 11px;
}

.about__statistics-title{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.about__statistics-text{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.02em;
}

.section__line{
    border-bottom: 2px solid #D58071;
    align-items: center;
    width: 496px;
}

.attractions__gallery{
    margin-bottom: 90px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.attractions__gallery img{
    display: block;
    margin-bottom: 20px;
}

.bycar__img{
    margin-bottom: 50px;
}

.footer{
    text-align: center;
}

.footer__container{
    background: #C4C4C4;
}

.footer__copy{
    padding-top: 40px;
    padding-bottom: 150px;
    color: #505050;
    font-size: 14px;
    font-weight: 400;
    font-family: Montserrat;
    
}